[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/gif;video/*;audio/*;image/png;image/jpeg;
Actions=smartMenu;separator;configure;
X-KDE-Submenu=Convert Actions
Icon=document-convert

[Desktop Action smartMenu]
Name=Show Actions…
Icon=document-convert
Exec="/home/brunner56/.local/bin/dolphin-convert-actions" --smart-menu %F

[Desktop Action separator]
Name=

[Desktop Action configure]
Name=Configure…
Icon=configure
Exec="/home/brunner56/.local/bin/dolphin-convert-actions" --configure
