[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=pickLinkSource;configure
X-KDE-Priority=TopLevel
Icon=edit-link

[Desktop Action pickLinkSource]
Name=Pick Link Source
Icon=edit-link
Exec=dolphin-convert-actions --pick-link-source %F

[Desktop Action configure]
Name=Configure...
Icon=configure
Exec=dolphin-convert-actions --configure