[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=pickLinkSourceBg;configure
X-KDE-Priority=TopLevel
Icon=edit-link

[Desktop Action pickLinkSourceBg]
Name=Pick Link Source
Icon=edit-link
Exec=dolphin-convert-actions --pick-link-source %F

[Desktop Action configure]
Name=Configure...
Icon=configure
Exec=dolphin-convert-actions --configure